.post-ssharing {
  a {
    display:inline-block;
    vertical-align:middle;
    width:2em;
    height:2em;
    border-radius:10%;

    svg {
      display:block;
      fill:#fff;
    }
  }
}

@include min-screen() {
  .only-mobile {
    display: none !important;
  }
}